.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  @media (max-width: 1140px) {
    border: none;
  }
  @media (max-width: 400px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
